* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
}
.mt-0 {
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}
form {
    padding: 0px 20px;
}
label {
    display: flex;
    padding: 20px 0px;
}
.p-relative {
    position: relative;
}
.des-text {
    position: absolute;
    top: 25px;
    left: 0;
    font-size: small;
    color: gray;
}
.title-text {
    width: 150px;
    font-weight: bold;
}
.doule-input-wrapper {
    display: flex;
    /* justify-content: space-between; */
}
.doule-input-wrapper .p-relative input {
    margin-right: 10px;
}
.tire {
    margin-right: 10px;
}
.multi-line-inputs > * {
    margin-bottom: 25px;
}
select {
    padding: 1px 70px 1px 1px;
    background: linear-gradient(180deg, lightgray, transparent);
}
button {
    padding: 5px 10px;
}
input {
    font-size: 0.9rem;
}