.c-red {
    color: red;
}
.c-green {
    color: green;
}
.c-purple {
    color: purple;
}
.c-yellow {
    color: yellow;
}
.bg-gray {
    background-color: gray;
}
.bg-lightblue {
    background-color: lightblue;
}
