body{
    background-color: rgb(122, 146, 179);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
}
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    white-space: nowrap;
}
/**/
h1 {
    color:black
}
.gray-text{
    color: gray;
}
.green-text{
    color: green;
}
.white-text{
    color: white;
}
.no-dec>*{
    text-decoration: none;
}
/**/
.register{
    margin:1%;
}
.container{
    background-color: whitesmoke;
    margin-bottom: 3%;
}
form{
    padding: 4%;
}
form>*{
    display: flex;
    flex-direction: column;
    margin:2%;
}
.inner-container>*{
    margin-bottom: 3%;
}
input{
    padding: 1%;
}
.inner-container>*,.full-name>*{
    font-size: 2vw;
    overflow: hidden; /*hiding surname's overflow!!!*/
}
.full-name{
    display: flex;
}
[type="checkbox"]{
    height: 20px; /*checkbox-sizing!!!*/
    width: 20px;
    float: left;
}
button{
    background-color: green;
    border: none;
    padding: 3%;
}
button:hover{
    background-color: rgba(0, 128, 0, 0.671);
}





