.container {
    margin: 0 auto;
    width: fit-content;
    border: 5px solid blue;
    box-shadow: 5px 5px 10px grey;
}
.p-1 {
    padding: 0rem 1rem 1rem 1rem;
}
.m-y {
    margin: 10px 0px;
}
label {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 0px 0px;
}
legend {
    color: blue;
    font-weight: bold;
}
button {
    padding: 0rem 2rem;
}
.count {
    width: 30px;
}