*{
    font-weight: bold;
}
button{
    background-color: rgb(70, 94, 230);
    color:white;
    border:none;
    border-radius: 20px;
    margin-top: 1rem;
}
.p-10 {
    padding:10px;  
}
.px {
    padding: 10px 20px;
}
label>* {
    display: block;
}
label span {
    margin-top: 0.9rem;
}
div {
    width: 15rem;
    margin: 0 auto;
}
input {
    border:solid 1px black;
}
h1 {
    margin: 0;
}
